body{
    > .main-content{
        background-color: $mainContent-color;
        @include make-row;
        @include make-md-column(10);
        @include make-md-column-offset(1);
        padding: 15px;        
        border: 5px $border-style $border-color;
        border-bottom: 0;
        border-top: 0;
        > .panel{
            
            margin: 0;
            h1,p{
                margin: 0;
            }
            p{
                font-size: 18px;
            }
        }        
    }
}

