<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <system.webServer>
            <rewrite>
                  <rules>
                        <rule name="rule 1M" stopProcessing="true">
                              <match url="^index.php$" />
                              <!--action type="Rewrite" url="//index.php" /-->
                              <action type="Rewrite" url="/-" />
                        </rule>
                        <rule name="rule 2M" stopProcessing="true">
                              <match url="." />
                              <!--action type="Rewrite" url="//public" /-->
                              <action type="Rewrite" url="//index.php" />
                        </rule>
                  </rules>
            </rewrite>
      </system.webServer>
      <system.web>
            <customErrors mode="Off"/>
            <compilation debug="true"/>
      </system.web>
</configuration>
